@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

$odibeeFont: 'Odibee Sans', cursive;

$beige: #f2cc8f;
$teal: #81b29a;
$darkblue: #3d405b;
$orange: #e07a5f;
$whitish: #f4f1de;
$blackblue: #073b4c;

$text-primary: $whitish;
$text-secondary: $beige;

$background-primary: $darkblue;
$background-secondary: $blackblue;

$border: $orange;
$accent: $teal;